<% if(typeof errors != "undefined") { %>
	<% errors.forEach(function(error) { %>
		<div class="alert alert-danger"> <%= error.message %> </div>
	<% }) %>
<% } %>


<!-- global var will be an empty string if it's not found -->
<% if(success_message != "") { %>
	<div class="alert alert-success"> <%= success_message  %> </div>
<% } %>

<% if(error_message != "") { %>
	<div class="alert alert-danger"> <%= error_message  %> </div>
<% } %>

<% if(error != "") { %>
	<div class="alert alert-danger"> <%= error %> </div>
<% } %>